absl_py==2.1.0
imgaug==0.4.0
librosa==0.11.0
matplotlib==3.8.4
mediapipe==0.10.21
numpy==1.26.4
opencv_contrib_python==4.9.0.80
opencv_python_headless==4.9.0.80
pandas==2.2.3
Pillow==10.3.0
scikit-learn==1.4.2
seaborn==0.13.2
scikit-image==0.24.0
thop==0.1.1.post2209072238
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
tqdm==4.66.2